@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding-inline: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  all: unset;
  padding: 1.5rem 4.375rem;
  margin-top: 49px;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  .btn {
    padding: 1rem 2rem;
    margin-top: 0;
  }
}
.btn.primary {
  background-color: #02250a;
  color: white;
}
.btn.white {
  background-color: white;
}

button.see-more {
  all: unset;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  padding: 24px 70px;
  margin-top: 45px;
  border-radius: 5px;
  background-color: #fff;
  text-transform: capitalize;
}
@media screen and (max-width: 800px) {
  button.see-more {
    position: relative;
    bottom: 102rem;
    padding: 12px 45px;
  }
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  min-height: 811px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .hero {
    min-height: 250vh;
  }
}
.hero header {
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .hero header {
    max-width: 91%;
    margin-left: 0.4rem;
  }
}
.hero header .items {
  display: flex;
  color: white;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .hero header .items {
    flex-direction: column;
    position: fixed;
    top: 40px;
    max-width: 50%;
    align-items: center;
    right: -100%;
    background-color: hsla(0deg, 0%, 100%, 0.1);
    -webkit-backdrop-filter: blur(0.4rem);
            backdrop-filter: blur(0.4rem);
    color: #000;
    transition: 1.5s;
    height: 60vh;
  }
  .hero header .items.active {
    right: 0;
  }
}
.hero header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .hero header .nav {
    margin-top: 10px;
  }
}
.hero header .nav .logo {
  width: 11.8125rem;
}
@media screen and (max-width: 800px) {
  .hero header .nav .logo {
    max-width: 6rem;
  }
}
.hero header .nav .logo img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .hero header .nav .auth-list {
    position: relative;
    flex-direction: column;
    gap: 7rem;
    inset-block-start: -10rem;
  }
}
.hero header .nav-list {
  list-style: none;
  display: flex;
  margin: 0;
}
.hero header .nav-list .nav-item {
  margin-inline: 1rem;
}
@media screen and (max-width: 800px) {
  .hero header .nav-list .nav-item {
    flex-direction: column;
    margin-top: 2rem;
  }
  .hero header .nav-list .nav-item:hover {
    color: red;
  }
}
.hero header .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: inherit;
}
.hero header .nav .hamburger {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .hero header .nav .hamburger {
    display: block;
  }
  .hero header .nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hero header .nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hero header .nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.hero header .nav .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease-in;
  background-color: black;
  cursor: pointer;
}
.hero .banner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 800px) {
  .hero .banner {
    max-width: 80%;
  }
}
.hero .banner_inner {
  display: flex;
  height: 700px;
}
@media screen and (max-width: 800px) {
  .hero .banner_inner {
    max-height: 400px;
  }
}
.hero .banner_inner .left {
  flex: 1;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .hero .banner_inner .left {
    max-height: 24rem;
  }
}
.hero .banner_inner .left_wrapper {
  height: 78%;
  width: 100%;
}
.hero .banner_inner .left_wrapper-container {
  width: 548px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .hero .banner_inner .left_wrapper-container {
    width: 100%;
  }
}
.hero .banner_inner .left_wrapper-container .text-content {
  width: 548px;
}
@media screen and (max-width: 800px) {
  .hero .banner_inner .left_wrapper-container .text-content {
    max-width: 100%;
    margin-left: -2rem;
  }
}
.hero .banner_inner .left_wrapper-container .text-content p {
  font-size: 3rem;
  font-weight: 900;
  line-height: 58.09px;
  width: 520px;
}
@media screen and (max-width: 800px) {
  .hero .banner_inner .left_wrapper-container .text-content p {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 60px;
    max-width: 330px;
  }
}
.hero .banner_inner .left_wrapper-container .text-content p span {
  color: #02250a;
}
.hero .banner_inner .left_wrapper-container .arrow-curve {
  position: absolute;
  right: 18%;
  bottom: 7%;
}
@media screen and (max-width: 800px) {
  .hero .banner_inner .left_wrapper-container .arrow-curve {
    display: none;
  }
}
.hero .banner_inner .right {
  background: #02250a;
  flex: 1;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .hero .banner_inner .right {
    display: none;
  }
}
.hero .banner_inner .right_wrapper {
  height: 70%;
  width: 100%;
  position: relative;
}
.hero .banner_inner .right_wrapper img {
  width: 100%;
}
.hero .banner_inner .right_wrapper .image-1 {
  width: 466px;
  position: absolute;
  left: -7%;
}
.hero .banner_inner .right_wrapper .image-2 {
  width: 359px;
  position: absolute;
  bottom: 0;
  right: 134px;
}
.hero .contents {
  position: relative;
  margin-top: 53.75rem;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .hero .contents {
    width: 50%;
  }
}
.hero .contents-inner {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .hero .contents .left-side {
    display: none;
  }
}
.hero .contents .left-side-wrapper {
  position: relative;
  height: 100%;
  width: 50%;
}
.hero .contents .left-side-wrapper .left-side-greenbox {
  position: absolute;
  width: 552px;
  height: 635px;
  left: 93px;
  top: 103px;
  background-color: #02250a;
  z-index: -1;
}
.hero .contents .left-side-wrapper .img-3 {
  z-index: 1;
  position: absolute;
  width: 552px;
  height: 635px;
  left: 63px;
  top: 74px;
}
.hero .contents .left-side-wrapper .play {
  z-index: 2;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 21.5rem;
  top: 25rem;
}
.hero .contents .right-side {
  display: flex;
  width: 50%;
  height: inherit;
}
.hero .contents .right-side-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  width: 50%;
}
.hero .contents .right-side-wrapper .right-side-contents {
  align-items: center;
  text-align: left;
  margin-left: 10px;
  margin-top: 150px;
}
@media screen and (max-width: 800px) {
  .hero .contents .right-side-wrapper .right-side-contents {
    margin-top: -60rem;
  }
}
.hero .contents .right-side-wrapper .right-side-contents h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 58.09px;
  height: 116px;
  width: 641px;
  margin-bottom: 51px;
}
@media screen and (max-width: 800px) {
  .hero .contents .right-side-wrapper .right-side-contents h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
    height: 90px;
    max-width: 300px;
  }
}
.hero .contents .right-side-wrapper .right-side-contents P {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 572px;
  min-height: 199px;
}
@media screen and (max-width: 800px) {
  .hero .contents .right-side-wrapper .right-side-contents P {
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    max-width: 300px;
    margin-bottom: 3rem;
  }
}
.hero .reports {
  border: 1px solid;
  width: 99.8%;
  margin-top: 10rem;
  height: 50.563rem;
  background-color: #02250a;
}
@media screen and (max-width: 800px) {
  .hero .reports {
    overflow-y: hidden;
    height: 40rem;
    margin-top: -24rem;
  }
}
.hero .reports-wrapper {
  text-align: center;
  align-items: center;
}
.hero .reports-wrapper .reports-content h3 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-left: 2rem;
}
@media screen and (max-width: 800px) {
  .hero .reports-wrapper .reports-content h3 {
    font-size: 24px;
    font-weight: 500;
    margin-left: 0.6rem;
  }
}
.hero .reports-wrapper .reports-content .line {
  height: 0.688rem;
  width: 6.875rem;
  background-color: #fff;
  margin-top: -20px;
  margin-left: 2rem;
}
@media screen and (max-width: 800px) {
  .hero .reports-wrapper .reports-content .line {
    height: 0.4rem;
    width: 6.5rem;
    margin-top: -10px;
    margin-left: 0.7rem;
  }
}
.hero .reports-wrapper .reports-content .recent-reports {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 800px) {
  .hero .reports-wrapper .reports-content .recent-reports {
    flex-direction: column;
    align-items: center;
  }
}
.hero .reports-wrapper .reports-content .recent-reports .reports-data {
  display: flex;
  background-color: #f4f4f4;
  height: 424px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #02250a;
  box-shadow: 0px 4px 25px 0px rgba(2, 37, 10, 0.1607843137);
  margin-top: 4.5rem;
}
@media screen and (max-width: 800px) {
  .hero .reports-wrapper .reports-content .recent-reports .reports-data {
    margin-bottom: 2rem;
  }
}
.hero .reports-wrapper .reports-content .recent-reports .reports-data .reports-img {
  display: flex;
  height: 207px;
  width: 276px;
  border-radius: 8px;
  margin: 6px 6px 6px 6px;
}
.hero .reports-wrapper .reports-content .recent-reports .reports-data .information {
  color: #000;
  margin-top: 13.6rem;
  margin-left: -16.7rem;
  z-index: 1;
}
.hero .reports-wrapper .reports-content .recent-reports .reports-data .information p.green-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #02250a;
  fill: solid #02250a;
}
.hero .reports-wrapper .reports-content .recent-reports .reports-data .information p.date {
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  margin-right: 1rem;
  margin-top: -2.6rem;
}
.hero .reports-wrapper .reports-content .recent-reports .reports-data .information p.report-text {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 22px;
  margin-right: 1rem;
}
.hero .niger-delta-section {
  margin-left: 3.438rem;
  margin-right: 5.438rem;
}
@media screen and (max-width: 800px) {
  .hero .niger-delta-section {
    display: none;
  }
}
.hero .niger-delta-section .niger-delta-wrapper p.niger-delta-text {
  height: 116px;
  width: 705px;
  border-radius: nullpx;
}
.hero .niger-delta-section .niger-delta-wrapper p.niger-delta-text {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}
.hero .niger-delta-section .niger-delta-wrapper .img-section {
  display: flex;
}
.hero .niger-delta-section .niger-delta-wrapper .img-section .up-img {
  display: flex;
}
.hero .niger-delta-section .niger-delta-wrapper .img-section .up-img .img-4 {
  width: 300px;
  height: 257px;
}
.hero .niger-delta-section .niger-delta-wrapper .img-section .up-img .imgs {
  width: 300px;
  height: 257px;
}
.hero .niger-delta-section .niger-delta-wrapper .img-section .down-img {
  all: unset;
  display: flex;
  margin-top: 16rem;
  margin-left: -75rem;
}
.hero .niger-delta-section .niger-delta-wrapper .img-section .down-img .imgs {
  width: 300px;
  height: 257px;
}
.hero .footer {
  background-color: #02250a;
  height: 92px;
  border-radius: 0px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .hero .footer {
    height: 60px;
    border: none;
    inset-block-start: 5px;
  }
}
.hero .footer-wrapper {
  text-align: center;
}
.hero .footer-wrapper .footer-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #fff;
}
.hero .footer-wrapper .footer-text p.text {
  margin-top: 9.5rem;
  padding-top: 2.688rem;
}
@media screen and (max-width: 800px) {
  .hero .footer-wrapper .footer-text p.text {
    padding-top: 1.3rem;
  }
}
.hero .footer-wrapper .footer-text p.text span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  letter-spacing: 0em;
}/*# sourceMappingURL=index.css.map */